body.home-page {
    background-image: url("/images/Designer.jpg"); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    height: 130vh; 
}

.page-content {
    margin-top: 240vh;
    background-color: black; 
    color: white;
    width:1280px;
    margin-left: 0;
    padding-left: 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    background-color: #333; 
    color: white;
    padding: 20px;
    text-align: center;
    width:1280px;
    position: relative;
    bottom: 0;
}
